{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="user-session">
  {% if user.is_authenticated %}
  <a href="#" class="user-box">¡Hola, {{ user.username }}!</a>
  <a href="{% url 'logout' %}" class="session-btn">Cerrar Sesión</a>
  {% else %}
  <a href="{% url 'login' %}" class="session-btn">Iniciar Sesión</a>
  <a href="{% url 'register' %}" class="session-btn">Registrarse</a>
  {% endif %}
</div>

<main>
  <h2>Bienvenido al mundo del fútbol</h2>
  <p>El fútbol es mucho más que un deporte, es una pasión que une a millones de personas en todo el planeta. Desde
    partidos en el barrio hasta torneos internacionales como la Copa Mundial, el fútbol es símbolo de emoción,
    estrategia y trabajo en equipo.</p>

  <p>En esta página encontrarás información básica sobre la historia del fútbol, sus orígenes, evolución y algunos de
    los jugadores más destacados que han marcado generaciones enteras.</p>

  <p>Explora y disfruta este recorrido por el deporte.</p>

  <video src="{% static 'video/champions League 2020-2021.mp4' %} " controls width="640" height="360" loop
    poster="{% static 'img/img-video.webp' %} " preload="auto">
    Tu navegador no soporta este video.
  </video>

</main>

{% endblock %}