{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <h2>Jugadores Legendarios del Fútbol</h2>

  <h3>Pelé</h3>
  <p>Edson Arantes do Nascimento, conocido como Pelé, es considerado uno de los mejores futbolistas de todos los
    tiempos. Nació en Brasil en 1940 y comenzó su carrera profesional a los 15 años. Ganó tres Copas Mundiales (1958,
    1962 y 1970) y marcó más de 1,000 goles en partidos oficiales. Su habilidad técnica, visión y carisma lo
    convirtieron en un ícono mundial.</p>

  <h3>Diego Maradona</h3>
  <p>Diego Armando Maradona fue un futbolista argentino famoso por su extraordinario talento y personalidad
    apasionada. Lideró a Argentina al título mundial en 1986 con actuaciones memorables, incluyendo el famoso gol
    conocido como "La Mano de Dios" y el "Gol del Siglo" contra Inglaterra. Jugó en clubes destacados como Boca
    Juniors y Napoli.</p>

  <h3>Lionel Messi</h3>
  <p>Lionel Andrés Messi, nacido en Argentina en 1987, es uno de los jugadores más premiados y admirados en la
    historia del fútbol. Ha ganado múltiples Balones de Oro, establecido récords de goles y asistencias y liderado a
    su selección nacional hacia importantes triunfos, incluyendo la Copa América y la Copa Mundial de la FIFA 2022.
  </p>

  <h3>Cristiano Ronaldo</h3>
  <p>Cristiano Ronaldo dos Santos Aveiro, de Portugal, es conocido por su potencia física, precisión goleadora y
    profesionalismo. Ha jugado en clubes como Manchester United, Real Madrid y Juventus, ganando numerosos títulos
    nacionales e internacionales, y ha sido reconocido con varios Balones de Oro.</p>

  <h3>Johan Cruyff</h3>
  <p>Ícono del fútbol holandés, Cruyff fue uno de los pioneros del "fútbol total". Fue un jugador y entrenador
    influyente que revolucionó el juego con su visión táctica y habilidad. Lideró a Holanda en el Mundial de 1974 y
    tuvo una exitosa carrera en el Ajax y Barcelona.</p>

  <h3>Mia Hamm</h3>
  <p>Una de las figuras más importantes en el fútbol femenino, Mia Hamm ayudó a popularizar y profesionalizar el
    deporte femenino en Estados Unidos y el mundo. Ganó dos Copas Mundiales femeninas y dos medallas de oro olímpicas,
    y es un ejemplo de liderazgo y perseverancia.</p>

  <h3>Zinedine Zidane</h3>
  <p>Legendario jugador francés conocido por su técnica, control y elegancia en el campo. Fue clave para la victoria
    de Francia en la Copa Mundial de 1998 y en la Eurocopa 2000. Tras retirarse como jugador, tuvo éxito como
    entrenador del Real Madrid.</p>
  <img src="{% static 'img/5.jpg' %}" alt="">
</main>

{% endblock %}