{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
  <h2>Glosario de Términos Futbolísticos Esenciales</h2>
  <p>El fútbol tiene su propio lenguaje. Para entender y disfrutar plenamente este deporte, es útil conocer algunos de
    los términos más comunes que se utilizan en el campo, en los comentarios y entre los aficionados.</p>
  <ul>
    <li><strong>Alineación:</strong> La formación y distribución de los jugadores de un equipo en el campo de juego
      antes del inicio de un partido.</li> <br>
    <li><strong>Balón:</strong> El elemento principal en torno al que gira un partido de fútbol.</li> <br>
    <li><strong>Portero:</strong> El jugador cuya función principal es defender la portería de su equipo, evitando que
      el balón entre en ella.</li> <br>
    <li><strong>Regate:</strong> Un movimiento hábil y rápido de un jugador con el balón para eludir a un oponente y
      evitar que lo rebase o le quite el balón.</li> <br>
    <li><strong>Titular:</strong> Un jugador que forma parte de la alineación inicial de un equipo en un partido.</li>
    <br>
    <li><strong>VAR (Video Assistant Referee):</strong> Un sistema de asistencia a los árbitros que permite revisar
      jugadas dudosas en video para corregir errores claros y manifiestos en el juego.</li> <br>
    <li><strong>Zaguero:</strong> Un jugador defensivo cuya principal función es evitar que los adversarios se acerquen
      a la portería de su equipo; comúnmente se refiere a los defensores centrales.</li> <br>
    <li><strong>Fuera de Juego:</strong> Una infracción en la que un jugador se encuentra en una posición adelantada,
      más cerca de la línea de gol contraria que el balón y el penúltimo defensor, en el momento en que un compañero le
      pasa el balón.</li> <br>
    <li><strong>Chilena:</strong> Un tipo de remate o despeje acrobático en el que un jugador golpea el balón en el aire
      con una patada de tijera, generalmente de espaldas a la portería.</li> <br>
    <li><strong>Caño:</strong> Un regate en el que un jugador hace pasar el balón entre las piernas de un oponente.</li>
    <br>
    <li><strong>Vaselina:</strong> Un lanzamiento suave y elevado del balón por encima del portero o de un defensor para
      que caiga en la portería o detrás del defensor.</li> <br>
    <li><strong>Pared:</strong> Una jugada en la que un jugador pasa el balón a un compañero y este se lo devuelve de
      primer toque, generalmente para superar la marca de un rival.</li> <br>
    <li><strong>Volea:</strong> Un golpe al balón antes de que caiga al suelo, directamente desde el aire.</li> <br>
    <li><strong>Sombrero:</strong> Un regate en el que un jugador levanta el balón por encima de la cabeza del jugador
      contrario para superarlo.</li> <br>
  </ul>
</main>

{% endblock %}